body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

<<<<<<< Updated upstream
h1 {
    margin: auto;
    padding: 50px;
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.fuelTable {
    border-collapse: collapse;

}

=======
.header1 {
    margin: auto;
    padding: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
}
>>>>>>> Stashed changes
caption {
    font-size: 20px;
    font-weight: bold;
}

<<<<<<< Updated upstream
.fuelHistory {
=======
.fuelTable {
    border-collapse: collapse;    
}

.fuelHistory{
>>>>>>> Stashed changes
    display: block;
    top: 50px;
    width: 80%;
    margin: auto;
    table-layout: fixed;
    overflow-y: auto;
    height: 500px;
}

.fuelHistory thead th {
<<<<<<< Updated upstream
    position: sticky;
=======
    position:sticky;
>>>>>>> Stashed changes
    top: 0;
}

.tableHistory thead tr {
<<<<<<< Updated upstream
    display: block;
=======
    display:block;
>>>>>>> Stashed changes
}

th {
    background-color: #b7bdeb;
    padding: 20px;
}

td {
<<<<<<< Updated upstream
    text-align: center;
    padding: 32px;
=======
  text-align: center;  
  padding: 32px;
>>>>>>> Stashed changes
}

tr:nth-child(even) {
    background-color: #d2e3ed;
    padding: 15px;
}